.site-footer__bottom__inner p.policy-links {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 30px;
  align-items: flex-end;
  /* color: #999; */
  color: #fff;
  margin-top: 15px;
  font-size: 0.95rem;
}

.site-footer__bottom__inner p.policy-links a {
  color: #999;
  color: #fff;
}

.site-footer__bottom__inner p.policy-links a:hover {
  color: #fff;
}

.site-footer__widget__contact li i {
  color: var(--hcrf-accent-color);
}

.projects {
  background-color: #fff;
}

.publications-section {
  background-color: #f1f6f7;
}

.cta-three {
  background-color: #f1f6f7;
}

.footer-main .site-footer__top {
  background-color: #fff;
  color: #000;
}

.site-footer__widget__title {
  color: #229bd4;
}

.site-footer__bottom__text {
  color: #fff;
}

.footer-btn:hover {
  background-color: var(--hcrf-accent-color);
}
